<h1 style="text-align: center; color: #ED2553;"> WELCOME </h1>


<!-- <div class="vertical-center container"> -->
<!-- <div class='file-input' style="width: 20em; margin-left: auto; margin-right: auto;">
    <input (change)="addToImagesQueue($event)" type='file' accept=".png,.jpg,.jpeg">
    <span class='button'>Choose</span>
    <span class='label' data-js-label style="color: black; font-weight: 400">No file selected<br/></span>
    <br/><br/>

  </div> -->

  <!-- <div class="file-input">
    <span class="button" (click)="uploadImagesForProcessing()">Upload</span>
    
  </div>
</div> -->
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class='file-input' style="width: 20em; margin-left: auto; margin-right: auto;">
      <input (change)="addToImagesQueue($event)" type='file' accept=".png,.jpg,.jpeg">
      <span class='button'>Choose</span>
      <span class='label' data-js-label style="color: black; font-weight: 400">No file selected<br/></span>
    </div>
  </div>
  <div class="row">
    <div class="file-input" style="width: 14em; margin-left: auto; margin-right: auto;">
      <span class="button" (click)="uploadImagesForProcessing()">Upload</span>
    </div>

  </div>
</div>