<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-md navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarCollapse" *ngIf=isLogin()>
        <div class="navbar-nav">
            <a routerLink="/landing" class="nav-item nav-link active" routerLinkActive="active">Upload</a>
            <a routerLink="/dashboard" class="nav-item nav-link active" routerLinkActive="active">Gallery</a>
            <button class="btn btn-danger my-2 my-sm-0" (click)="logout()" type="submit">Logout</button>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>